Recipies
* Each recipy owned by user
* Follow users to follow recipies
* Verified recipies (everyone sees)
* Own/Favourite recipies section
* Each user's recipies behind wall - has to actively share recipies (keep grandma's cookies safe)
* Recipy tags e.g. vegitarian/healthy/chicken/feel good food/etc...

Profile - User View
* Dashboard shows stats for the day/week (e.g. calories consumed etc...)
* Section for "My Recipies"

For Tommorrow
* Recipy belongs to user who made it
* Recipy can be saved by any user
* Recipy has many ingredients
* Ingredient has many recipies