User Profiles
* Each user should have one profile
* User should see link to new profile form upon signing upon
* User should be able to create and view their user profile
* User should have a profile picture
* User should be able to view all user profiles


Recipies
* Each recipy owned by user
* Follow users to follow recipies
* Verified recipies (everyone sees)
* Own/Favourite recipies section
* Each user's recipies behind wall - has to actively share recipies (keep grandma's cookies safe)