<div class="ant-page text-center container-fluid">
    <h1>Antarctia 2018</h1>
    <h3>Why I want to go</h3>

    <p>My mother is a strong believer in environmental conservation, and as a
    result from a young age I had a keen interest in the environment.</p>
</div>