<div class="home-callout text-center container-fluid">
  <h1>What's For Dinner</h1>
  <h3>Plan, Prepare, Produce</h3>
  
  <h3><%= link_to "Let's get cooking", recipies_path, class: 'home-link' %></h3>
  
</div>